.App {
  padding: 2rem;
}

li {
  margin-bottom: 0.5rem;
}

.list {
  margin-right: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-bottom: 1rem;
}

.form input {
  margin-bottom: 0.5rem;
}

.button-delete {
  background-color: transparent;
  border: none;
  margin-left: 1rem;
}
